body{
    background-color: aqua;
    background-image: image(img1.jpg);

}
.titre{
    text-align: center;
}
.sect{
    background-color:;

}
.sect1{

}
p{
    font-family: ;
    color: black;
    text-align: center;
    font-size: large;
}